@page "/graphdemo"

@using HexCore.Website.Data
@inject GraphService GraphService

<h1>Graph demo</h1>

<p>This component demonstrates graph.</p>

@if (graph == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <GraphComponent GraphParameter=@graph></GraphComponent>
}

@code {
    private GraphData graph;
    
    private void OnGraphDataChanged()
    {
        InvokeAsync(StateHasChanged);
    }
    
    protected override async Task OnInitializedAsync()
    {
        graph = GraphService.GetGraph();
        GraphService.GraphDataUpdated += OnGraphDataChanged;
    }
    
    public void Dispose()
    {
        GraphService.GraphDataUpdated -= OnGraphDataChanged;
    }
}