@page "/"

<div>
    <div class="top-section">
        <div class="container">
            <div>
                <img src="img/logo.svg" alt="HexCore logo"/>
            </div>
            <div>
                <h1>HexCore</h1>
            </div>

            <p>
                HexCore is an open source C# library for working with hexagonal grids. It manages map state, works with various terrain
                and movement types, can find movement ranges, spell ranges, other ranges, can find shortes paths,
                supports different coordinate systmes to match your needs, and many more.
            </p>
        </div>

        <div class="container">
            <p>
                For more details and a quick start guide, check the GitHub repo.
            </p>
    
            <p>
                For full list of functionality and uasge examples, check out the docs.
            </p>
    
            <p>
                Can't wait to see the action? We have an interactive demo built in right into this page!
            </p>
        </div>
    </div>
    
    <div class="mid-section">
        <div class="container">
            <GraphDemo/>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div>This is footer.</div>
        </div>
    </div>
</div>
